<!DOCTYPE html>
<html lang="en">
<body>
​
  <% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>您喜愛的電影評論</h1>
    <p>最新的電影評論盡在imovie</p>
    <p><%= link_to "立即註冊", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  <% end %>
​
  <div class="row">
    <div class="col-sm-9 col-lg-8 col-lg-offset-2">
      <%= form_tag search_movies_path , :method => :get, :class => "movies-search-form" do %>
        <div class="input-group">
          <input type="text" class="form-control input-lg" name="q" value="<%= params[:q] %>" placeholder="搜尋電影關鍵字...">
​
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      <% end %>
​
    <br>
    </br>
​
  </div>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-sm-6 col-md-3">
           <div class="thumbnail">
            <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
           </div>
        </div>
      <% end %>
    </div>
</body>
</html>